html {
  font-size: 62.5%; /* Tipografía base: 10px -> p facilitar o calculo */
}

body {
  font-family: "Poppins";
  font-size: 1.6rem; /* Tamaño de fuente: 16px */
  line-height: 1.3;
  color: #232020;
}

p + p {
  margin: 2rem 0 2rem;
}

.navbar {
  font-size: 2rem; /* Tamaño de fuente: 20px */
}

.logo {
  font-family: "AnonymousPro";
}

.works {
  font-weight: 900;
}

h1 {
  font-size: 1.25rem;
  padding-top: 3rem;
  font-weight: 100;
}

.about {
  background: #fcfbfb;
}

@media (min-width: 960px) {
  .navbar {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

  .row {
    display: flex;
  }

  .column {
    width: 35%;
    padding: 5rem;
  }
}
