/* ----------------------- RESET ------------------ */
/**
 * Box sizing rules
 * https://developer.mozilla.org/es/docs/Web/CSS/box-sizing
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ----------------------- GLOBAL ------------------ */

html {
  font-size: 45%; /* Tipografía base: px*/
  background: #ffe181;
}

body {
  font-family: "Poppins";
  font-size: 2rem; /* Tamaño de fuente: 16px */
  line-height: 1.6;
  color: #232020;
}

p + p {
  margin: 4rem 0 4rem; /* dif */
}

/* ----------------------- UTILITIES ------------------ */

a {
  text-decoration: none;
  color: #232020;
}

a:hover {
  background-color: #fdf799;
}

.button.highlight {
  background-color: #fdf799;
}

.navbar,
.footer-container {
  font-size: 2rem; /* Tamaño de fuente: 20px */
  padding-right: 1rem;
  padding-left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 9;
}

h1 {
  font-weight: 900;
  font-size: 15rem;
  padding-top: 5rem;
}

.footer-container {
  padding-top: 2rem;
  bottom: 0;
}

.contact-icon {
  height: 3rem;
  width: 3rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.contact-socialmedia {
  display: flex;
  justify-content: space-between;
}

.square {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  padding-bottom: 100%;
}

.round {
  border-radius: 3rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.wip {
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  padding: 10rem;
}

/* -------------------------------- HOME -------------------------------- */

.billboard {
  min-height: 100vh;
  position: relative;
}

.contact-section {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.container-headline {
  font-size: 2.2rem;
}

.container-headline span {
  display: inline-block;
  min-width: 45px;
  text-align: center;
}

.container-headline span::before {
  content: "with";
  animation: animate infinite 5s;
  font-weight: 900;
}

@keyframes animate {
  0% {
    content: "with";
  }
  50% {
    content: "to";
  }
  75% {
    content: "for";
  }
}

/* -------------------------------- ABOUT -------------------------------- */

/* -------------------------------- WORKS -------------------------------- */

.topic-works {
  font-size: 1.8rem;
}

.title-works {
  font-size: 2.8rem;
  line-height: 3.9rem;
  font-weight: 900;
}

.row-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.column-img {
  margin: 0 1rem;
  max-width: 300px;
  width: 100%;
}

.container {
  background-color: aliceblue;
  position: relative;
  top: -30px;
  width: 90%;
  left: 5%;
  padding: 2rem;
  border-radius: 5%;
  min-height: 113px;
}

/* -------------------------------- PROJECTS -------------------------------- */

.wrapper {
  margin: 0 auto;
  padding: 2rem 2rem;
}

.wrapper.medium {
  max-width: 145rem;
}

.topic-headline {
  font-size: 2.8rem;
  font-weight: 200;
}

.topic {
  font-size: 2.8rem;
  font-weight: 200;
  padding-top: 1rem;
}

.titulo-work {
  font-size: 6rem;
  font-weight: 900;
}

.summary-work {
  padding-top: 5rem;
  padding-bottom: 3rem;
  font-size: 2.2rem;
}

.content-topic {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.row {
  padding: 1rem;
}

.padding-botom {
  padding-bottom: 5rem;
}

.row-headline {
  padding-left: 10rem;
}

.column.headline {
  padding-top: 15rem;
}

.subtitulo-work {
  font-size: 6rem;
  font-weight: 900;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.img-mobileproto {
  width: 150px;
  margin: 0 auto;
}

.img-webproto {
  width: 300px;
}

/* ---- PROJECT 1 ----- */

.diagram {
  position: relative;
  height: 350px;
  width: 350px;
}

.item {
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 200px;
  justify-content: center;
  position: absolute;
  width: 200px;
}

.item-1 {
  background: rgba(254, 246, 169, 0.85);
  left: 0;
  top: 0;
  z-index: 3;
}

.item-2 {
  background: rgba(255, 243, 132, 0.85);
  left: 150px;
  top: 0;
  z-index: 1;
}

.item-3 {
  background: rgba(219, 209, 113, 0.85);
  left: 75px;
  top: 150px;
  z-index: 2;
}

.content-text {
  display: none;
}

/* -------------------------------- PROJECT 2 -------------------------------- */

/* ----------------------- RESPONSIVE 95px ------------------ */

@media (max-width: 959px) {
  .container-headline br {
    display: none;
  }
}

@media (min-width: 960px) {
  .row {
    display: flex;
  }

  .row.position {
    position: relative;
    top: -40px;
  }

  .row-headline {
    display: flex;
  }

  .column-billboard {
    width: 50%;
    padding: 5rem;
  }

  .column-headline {
    width: 40%;
    padding-left: 5rem;
    font-size: 3.5rem;
  }

  .column.coverimg {
    padding-top: 15rem;
  }

  h1 {
    font-weight: 900;
    font-size: 25rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  /* ---- HOME ----- */

  .container-headline {
    position: relative;
    top: -40px;
    left: 300px;
    width: 300px;
    font-size: 3rem;
  }

  /* ---- ABOUT ----- */

  .aboutme {
    position: relative;
    top: -40px;
  }

  /* ---- WORKS ----- */

  .topic-works {
    font-size: 2.1rem;
    padding-bottom: 0.5rem;
  }

  .title-works {
    font-size: 3rem;
  }

  /* ---- PROJECTS ----- */

  .row.background {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .column {
    width: 50%;
    padding: 2rem;
  }

  .column.large {
    padding-left: 15rem;
    width: 100%;
  }

  .column.small {
    width: 25%;
    padding-left: 15rem;
    padding-bottom: 0;
  }

  .column.medium {
    width: 45%;
    padding-left: 15rem;
  }

  .column.topics {
    width: 25%;
  }

  .topic {
    font-size: 3rem;
    font-weight: 200;
  }

  .titulo-work {
    font-size: 13rem;
    position: relative;
    width: 150%;
    z-index: 1;
  }

  .summary-work {
    font-size: 2.8rem;
  }

  .img-work {
    padding-left: 15%;
    padding-right: 20%;
    justify-content: center;
  }
}
