html {
  font-size: 45%; /* Tipografía base: 10px -> p facilitar o calculo */
  background: #fcfbfb;
}

body {
  font-family: "Poppins";
  font-size: 2rem; /* Tamaño de fuente: 16px */
  line-height: 1.3;
  color: #232020;
}

p + p {
  margin: 2rem 0 2rem;
}

.navbar {
  font-weight: 900;
  font-size: 2rem; /* Tamaño de fuente: 20px */
  padding-right: 1rem;
  padding-left: 1rem;
}

.topic {
  font-size: 2rem;
  font-weight: 200;
  padding-top: 3rem;
}

.titulo_work {
  font-size: 3rem;
  font-weight: 900;
}

.row {
  padding: 1rem;
}

.footer {
  font-weight: 900;
  font-size: 2rem; /* Tamaño de fuente: 20px */
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (min-width: 960px) {
  .navbar {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .row {
    display: flex;
  }

  .column {
    width: 35%;
    padding: 5rem;
  }

  .topic {
    font-size: 3rem;
    font-weight: 200;
    padding-top: 3rem;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
  }
}
