/* ----------------------- RESET ------------------ */
/**
 * Box sizing rules
 * https://developer.mozilla.org/es/docs/Web/CSS/box-sizing
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ----------------------- GLOBAL ------------------ */

html {
  font-size: 45%; /* Tipografía base: 10px*/
  background: #ffd95f;
}

body {
  font-family: "Poppins";
  font-size: 2rem; /* Tamaño de fuente: 16px */
  line-height: 1.6;
  color: #232020;
}

p + p {
  margin: 6rem 0 6rem;
}

/* ----------------------- UTILITIES ------------------ */

a:link {
  text-decoration: none;
  color: #232020;
}

.navbar,
.footer-container {
  font-size: 2rem; /* Tamaño de fuente: 20px */
  padding-right: 1rem;
  padding-left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 9;
}

.wrapper {
  padding-right: 2rem;
  padding-left: 2rem;
}

h1 {
  font-weight: 900;
  font-size: 10rem;
  padding-top: 5rem;
}

.footer-container {
  padding-top: 2rem;
  bottom: 0;
}

/* ----------------------- RESPONSIVE 960px ------------------ */

@media (min-width: 960px) {
  .row {
    display: flex;
  }

  .column {
    width: 50%;
    padding: 5rem;
    font-size: 2.2rem;
  }

  h1 {
    font-weight: 900;
    font-size: 25rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .column-img {
    padding: 1rem;
  }

  .works-img {
    border-radius: 5%;
  }
}
