/* ----------------------- RESET ------------------ */
/**
 * Box sizing rules
 * https://developer.mozilla.org/es/docs/Web/CSS/box-sizing
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ----------------------- GLOBAL ------------------ */

html {
  font-size: 45%; /* Tipografía base: 10px*/
  background: #ffe181;
}

body {
  font-family: "Poppins";
  font-size: 2rem; /* Tamaño de fuente: 16px */
  line-height: 1.6;
  color: #232020;
}

p + p {
  margin: 6rem 0 6rem; /* dif */
}

/* ----------------------- UTILITIES ------------------ */

a {
  text-decoration: none;
  color: #232020;
}

.navbar,
.footer-container {
  font-size: 2rem; /* Tamaño de fuente: 20px */
  padding-right: 1rem;
  padding-left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 9;
}

h1 {
  font-weight: 900;
  font-size: 10rem;
  padding-top: 5rem;
}

.footer-container {
  padding-top: 2rem;
  bottom: 0;
}

/* -------------------------------- HOME -------------------------------- */

.billboard {
  min-height: 100vh;
  position: relative;
}

.contact-section {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

/* -------------------------------- WORKS -------------------------------- */

.title-works {
  font-size: 3rem;
  line-height: 3.9rem;
  font-weight: 900;
}

.container {
  background-color: aliceblue;
  padding: 1rem;
  border-radius: 5%;
}

/* -------------------------------- PROJECT 1 -------------------------------- */

/* ----------------------- MAIN ------------------ */

.wrapper {
  margin: 0 auto;
  padding: 2rem 2rem;
}

.wrapper.medium {
  max-width: 145rem;
}

.topic-headline {
  font-size: 2.8rem;
  font-weight: 200;
  padding-top: 15rem;
}

.topic {
  font-size: 2.8rem;
  font-weight: 200;
  padding-top: 3rem;
}

.titulo-work {
  font-size: 6rem;
  font-weight: 900;
}

.summary-work {
  padding-top: 5rem;
  padding-bottom: 3rem;
  font-size: 2.2rem;
}

.content-topic {
  padding-top: 3rem;
}

.row {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 3rem;
}

.row-headline {
  padding-left: 10rem;
}

.subtitulo-work {
  font-size: 6rem;
  font-weight: 900;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.square {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100%;
}

.round {
  border-radius: 3rem;
}

/* ----------------------- RESPONSIVE 960px ------------------ */

@media (min-width: 960px) {
  .row {
    display: flex;
  }

  .row-headline {
    display: flex;
  }

  .column-billboard {
    width: 50%;
    padding: 5rem;
  }

  .column-headline {
    width: 50%;
    padding-left: 5rem;
    font-size: 3.5rem;
  }

  h1 {
    font-weight: 900;
    font-size: 25rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .column-img {
    padding: 1rem;
  }

  /* ---- WORKS ----- */

  .works-img {
    border-radius: 5%;
  }

  .topic-works {
    font-size: 2.5rem;
  }

  .title-works {
    font-size: 3.5rem;
  }

  /* ---- PROJECT 1 ----- */

  .column {
    width: 65%;
    padding: 2rem;
  }

  .column.small {
    width: 25%;
    padding-left: 15rem;
  }

  .column.medium {
    padding-left: 15rem;
  }

  .topic {
    font-size: 3rem;
    font-weight: 200;
    padding-top: 3rem;
  }

  .titulo-work {
    font-size: 13rem;
    position: relative;
    width: 150%;
    z-index: 1;
  }

  .headline-img {
    margin-top: 10rem;
  }

  .summary-work {
    font-size: 2.8rem;
  }

  .img-work {
    justify-content: center;
  }
}
